.app-wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
" h h "
" n c ";
    grid-template-rows: 160px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: lightblue;
}

.nav {
    grid-area: n;
    background-color: dimgray;
}

.content {
    grid-area: c;
    background-color: lightgray;
}
.content-img img{
    width: 100%;
}