.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
    padding: 15px
}
.dialog a{
    text-decoration: none;
    padding: 20px;
    color: midnightblue;
}
.messages {
    padding: 20px;
}
.message {
    padding: 10px;
}
